html, #root {
  height: 100%;
}

body {
  padding: 0;
  margin: 0;
  height: 100%;
}

.bg-own {
  background-color: #d3dfff;
}

.list {
  max-height: calc(100% - 60px);
  padding-bottom: 60px;
  overflow: auto;
}

.footer {
  bottom: 0;
  left: 0;
  padding-left: 10px;
  position: fixed;
  right: 0;
  width: 100%;
}

